#!/usr/bin/env bash
borg_action="${1}"
notify_url="${2:-http://example.com}"
log_file={% raw %}"${3:-/tmp/{% endraw %}{{ backup_started.stdout }}{% raw %}.log}"{% endraw %}

HOSTNAME=$(hostname)
EXTERNAL_IP=$(curl -4 -q  --connect-timeout 3 https://ifconfig.io || echo "unknown ip")


echo "borg_action=$borg_action"
echo "notify_url=$notify_url"
echo "log_file=$log_file"
echo "HOSTNAME=$HOSTNAME"
echo "EXTERNAL_IP=$EXTERNAL_IP"

precheck(){
	if [[ -f "{{ borg_client_folder }}/.ssh/known_hosts" ]];then 
		rm -v {{ borg_client_folder }}/.ssh/known_hosts
	fi
	/usr/bin/find /borg_client_v2/cache/ -type d  -iname 'lock.exclusive'  | xargs rm -rf -v  || (echo "File lock.exclusive not exist.skip")
	docker pull {{ docker_image_borg_client  | default('registry.gitlab.com/devops_containers/dockers/borg-client:1.2.2-r4') }}
	
}

send_message_chat() {

TEXT_HEADER=$1
TEXT_ATTACHMENT=$2

if [[ "${TEXT_ATTACHMENT}" == "" ]];then
    TEXT_ATTACHMENT="No additinal info"
fi
DATE_EXEC="$(date "+%d %b %Y %H:%M")"

check_telegram=$(echo "${WEBHOOK_URL:-${notify_url}}" | grep -q telegram ; echo $? )
if [[ "${check_telegram}" == "0" ]]
then
	echo "Send to Telegram"
	export url_encode=$(echo -ne "${TEXT_ATTACHMENT}" | hexdump -v -e '/1 "%02x"' | sed 's/\(..\)/%\1/g')
	curl -s -X GET "${WEBHOOK_URL:-${notify_url}}&text=${url_encode}"  > /dev/null
	echo "Exec curl -F document=@${log_file} $(echo ${WEBHOOK_URL:-${notify_url}} | sed 's/sendMessage/sendDocument/') > /dev/null"
	sleep 5 && curl -F document=@${log_file} $(echo ${WEBHOOK_URL:-${notify_url}} | sed 's/sendMessage/sendDocument/') > /dev/null

else 
	echo "Send to rocket_chat(slack)";
	curl -q -X POST --connect-timeout 3 -H 'Content-Type: application/json' --data "{\"text\":\"${TEXT_HEADER}\", \"attachments\": [{\"title\": \"Additional_info\",\"color\": \"#A52A2A\",\"text\": \"${TEXT_ATTACHMENT}\"}]}" ${WEBHOOK_URL:-${ROCKET_CHAT_URL}} > /dev/null
fi

}


borg_create(){

precheck
local sleep_time={{ borg_sleep_time | default('$(shuf -i 1-400 -n 1)')  }}
echo "sleep_time=${sleep_time}"
sleep ${sleep_time}
docker run --rm -i \
-v "{{ borg_client_folder }}/.ssh:/root/.config" \
-v "{{ borg_client_folder }}/.ssh:/config:ro" \
-v "{{ borg_client_folder }}/.ssh:/root/.ssh" \
-v "{{ borg_client_folder }}/cache:/root/.cache/borg" \
-v "{{ borg_client_folder }}/:/borg_client:ro" \
-e BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes \
-e BORG_RELOCATED_REPO_ACCESS_IS_OK=yes \
-e BORG_CLIENT_REMOTE_REPO_URL={{ borg_remote_repo_url }} \
-e BORG_CLIENT_REPO_NAME={{ borg_repo_name }} \
-e BORG_ACTION=create \
{% for item in borg_backup_dir %}
-v "{{ item }}:{{ item }}:ro" \
{% endfor %}
--name borgclient_create_{{ borg_arhive }} \
{{ docker_image_borg_client  | default('registry.gitlab.com/devops_containers/dockers/borg-client:1.2.2-r4') }}  \
sh -c "bash /borg-backup.sh --borg_action=create --borg_remote_repo_url={{ borg_remote_repo_url }} --borg_repo_name={{ borg_repo_name }} --backup_dirs=\"{{ borg_backup_dirs_r }}\" --backup_exclude={{ backup_exclude }}  --borg_arhive={{ borg_arhive }} --borg_prune={{ borg_prune }} --borg_prune_options={{ borg_prune_options | default('\"--keep-daily=7 --keep-weekly=4 --keep-monthly=12 --keep-yearly=2 --glob-archives={{ borg_arhive }}-\"') }} --borg_arhive_postfix={{ backup_started.stdout }}"

}


borg_prune(){
	
precheck

docker run --rm -i \
-v "{{ borg_client_folder }}/.ssh:/root/.config" \
-v "{{ borg_client_folder }}/.ssh:/config:ro" \
-v "{{ borg_client_folder }}/.ssh:/root/.ssh" \
-v "{{ borg_client_folder }}/cache:/root/.cache/borg" \
-v "{{ borg_client_folder }}/:/borg_client:ro" \
-e BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes \
-e BORG_RELOCATED_REPO_ACCESS_IS_OK=yes \
-e BORG_CLIENT_REMOTE_REPO_URL={{ borg_remote_repo_url }} \
-e BORG_CLIENT_REPO_NAME={{ borg_repo_name }} \
-e BORG_ACTION=prune \
{% for item in borg_backup_dir %}
-v "{{ item }}:{{ item }}:ro" \
{% endfor %}
--name borgclient_prune_{{ borg_arhive }} \
{{ docker_image_borg_client  | default('registry.gitlab.com/devops_containers/dockers/borg-client:1.2.2-r4') }}  \
sh -c "bash /borg-backup.sh --borg_action=prune --borg_remote_repo_url={{ borg_remote_repo_url }} --borg_repo_name={{ borg_repo_name }} --backup_dirs=\"{{ borg_backup_dirs_r }}\" --backup_exclude={{ backup_exclude }}  --borg_arhive={{ borg_arhive }} --borg_prune=1 --borg_prune_options={{ borg_prune_options | default('\"--keep-daily=7 --keep-weekly=4 --keep-monthly=12 --keep-yearly=2 --glob-archives={{ borg_arhive }}-\"') }}  --borg_arhive_postfix={{ backup_started.stdout }}"

}

borg_list(){
	
precheck

docker run --rm -i \
-v "{{ borg_client_folder }}/.ssh:/root/.config" \
-v "{{ borg_client_folder }}/.ssh:/config:ro" \
-v "{{ borg_client_folder }}/.ssh:/root/.ssh" \
-v "{{ borg_client_folder }}/cache:/root/.cache/borg" \
-v "{{ borg_client_folder }}/:/borg_client:ro" \
-e BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes \
-e BORG_RELOCATED_REPO_ACCESS_IS_OK=yes \
-e BORG_CLIENT_REMOTE_REPO_URL={{ borg_remote_repo_url }} \
-e BORG_CLIENT_REPO_NAME={{ borg_repo_name }} \
-e BORG_ACTION=list \
{% for item in borg_backup_dir %}
-v "{{ item }}:{{ item }}:ro" \
{% endfor %}
--name borgclient_list_{{ borg_arhive }} \
{{ docker_image_borg_client  | default('registry.gitlab.com/devops_containers/dockers/borg-client:1.2.2-r4') }}  \
sh -c "bash /borg-backup.sh --borg_action=list --borg_remote_repo_url={{ borg_remote_repo_url }} --borg_repo_name={{ borg_repo_name }} --backup_dirs=\"{{ borg_backup_dirs_r }}\" --backup_exclude={{ backup_exclude }}  --borg_arhive={{ borg_arhive }} --borg_prune=0 --borg_prune_options={{ borg_prune_options | default('\"--keep-daily=7 --keep-weekly=4 --keep-monthly=12 --keep-yearly=2 --glob-archives={{ borg_arhive }}-\"') }}  --borg_arhive_postfix={{ backup_started.stdout }}"

}

borg_error(){
	echo "Borg error. Arg undefined or not acceptable on ${HOSTNAME} with external ip $EXTERNAL_IP. Use valid args"
	local message=""
	send_message_chat "borg error" "${message}"
	exit 1
}


main(){
	echo "run action $borg_action"
	if [[ "$borg_action" == "create" ]];then
		borg_create
		if [[ $? != "0" ]];then
		 	send_message_chat "borg error" "error borg_create on ${HOSTNAME} with external ip $EXTERNAL_IP. Repo {{ borg_remote_repo_url }}/./{{ borg_repo_name }}"
		else
			if [[ "${ENV_BORG_VERBOSE:-false}" == "true" ]];then
			   send_message_chat "borg ok" "ok borg_create  on ${HOSTNAME} with external ip $EXTERNAL_IP. Repo {{ borg_remote_repo_url }}/./{{ borg_repo_name }}"
		    else
		       echo "borg ok" "ok borg_create  on ${HOSTNAME} with external ip $EXTERNAL_IP. Repo {{ borg_remote_repo_url }}/./{{ borg_repo_name }}"
		    fi
		fi

	fi
	if [[ "$borg_action" == "prune" ]];then
	 	borg_prune
	 	if [[ $? != "0" ]];then
		 	send_message_chat "borg error" "error during  borg_prune  on ${HOSTNAME} with external ip $EXTERNAL_IP"
		fi
	 fi
	if [[ "$borg_action" == "list" ]];then
	 	borg_list
	 	if [[ $? != "0" ]];then
		 	send_message_chat "borg error" "error during  borg_list  on ${HOSTNAME} with external ip $EXTERNAL_IP"
		fi
	 fi
	if [[ "$borg_action" == "" ]];then
	 borg_error
	fi 

}
main