version: '3.5'
services:
  borg-client-create:
    image: {{ docker_image_borg_client  | default('registry.gitlab.com/devops_containers/dockers/borg-client:1.2.4-r1') }}
    container_name: borg-client
    volumes:
     - "{{ borg_client_folder }}/.ssh:/{{ borg_run_user | default('root') }}/.config"
     - "{{ borg_client_folder }}/.ssh:/config:ro"
     - "{{ borg_client_folder }}/.ssh:/{{ borg_run_user | default('root') }}/.ssh"
     - "{{ borg_client_folder }}/cache:/{{ borg_run_user | default('root') }}/.cache/borg"
     - "{{ borg_client_folder }}/:/borg_client:ro"
{% for item in borg_backup_dir %}
     - "{{ item }}:{{ item }}:ro"
{% endfor %}
    environment:
      BORG_RUNTIME: "docker-compose"
      BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK: "yes"
      BORG_RELOCATED_REPO_ACCESS_IS_OK: "yes"
      ####CLIENT_OPTIONS
      BORG_CLIENT_REMOTE_REPO_URL: "{{ borg_remote_repo_url }}"
      BORG_CLIENT_REPO_NAME: "{{ borg_repo_name }}"
      BORG_CLIENT_ACTION: "prune"
      BORG_CLIENT_BACKUP_DIRS: "{{ borg_backup_dirs_r }}"
      BORG_CLIENT_BACKUP_EXCLUDE: "{{ backup_exclude }}"
      BORG_CLIENT_ARCHIVE_NAME: "{{ borg_arhive }}"
      BORG_CLIENT_PRUNE_OPTIONS: '{{ borg_prune_options | replace('\\', '') | replace('\"', '') }}'
      BORG_CLIENT_ARCHIVE_DATE: "{{ backup_started.stdout }}"
      WEBHOOK_URL: "{{ WEBHOOK_URL  | default('http://localhost:22') }}"
    stdin_open: true
    tty: true

